page-account-logged-in {
    img{
        width: 22px;
        height: 16px;
    }

    .blue-pane{
        background-color: #75ABE9;
        height: 220px;
    }

    .userName{
        font-size: 22px;
        color: #ffffff;
    }

    .userDetail{
        font-size: 18px;
        color: #ffffff;
    }

    .contentGray{
        background-color: #F9F9F9;
    }
}
