page-account-not-logged-in {
    img{
        width: 22px;
        height: 16px;
    }

    .blue-pane{
        background-color: #75ABE9;
        height: 220px;
    }

    .contentGray{
        background-color: #F9F9F9;
    }
}
